name: flutter_launch_store
description: A Flutter plugin for launching a Store in the mobile platform. Supports AppStore, PlayStore and AppGallery.
version: 1.0.0
homepage: https://github.com/deakjahn/flutter_launch_store

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  pedantic: ^1.11.0

flutter:
  plugin:
    platforms:
      android:
        package: io.flutter.plugins.flutter_launch_store
        pluginClass: StoreLauncherPlugin
      ios:
        pluginClass: StoreLauncherPlugin
