name: flutter_launch_store
description: A Flutter plugin for launching a Store in the mobile platform. Supports AppStore, PlayStore and AppGallery.
version: 1.0.4
homepage: https://github.com/deakjahn/flutter_launch_store

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.1

flutter:
  plugin:
    platforms:
      android:
        package: io.flutter.plugins.flutter_launch_store
        pluginClass: StoreLauncherPlugin
      ios:
        pluginClass: StoreLauncherPlugin
